.signin-form {
    border-style: outset;
    border-width: 1.5px;
    margin: 40px auto;
    box-sizing: content-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    padding: 20px 60px;
    
 }
 
 span{
     color:red;
 }
 
 .signin-text {
     text-align: center;
 }
 
 #continue-buttons{
     margin-top: 40px;
     margin-left: -15px;
     margin-bottom: 10px;
     width: 400px;
 }
 
 #signin-button{
     margin-left: -1px;
     margin-bottom: 10px;
     text-decoration: none;
 }
 
 
 #signup{
     color: red;
     text-decoration: none;
 }
 
 #signup:hover{
     text-decoration: none;
 }

 .free-account{
     margin-top: 20px;
     margin-bottom: 30px;
 }

 @media screen and (min-width: 500px) and (max-width: 700px ) {
    .signin-form {
        width: 300px;
     }

     #continue-buttons{ 
        margin-left: -1px;
        width: 300px;
    }
 }


 @media screen and (min-width: 300px) and (max-width: 499px ) {
    .signin-form {
        width: 200px;
        padding: 10px 40px;
     }

     #continue-buttons{ 
        margin-left: -1px;
        width: 200px;
        font-size: 10px;
    }

    .free-account {
        font-size: 20px;
        font-weight: bold;
    }
 }

 