.how-it-works-container {
    margin-bottom: 80px;
}

.section-body {
    text-align: center;
    margin-top: 50px;
    
}

.card-section {
    margin:4em 10em;
}

.card {
    padding: 15px 2px;
}

h5 {
    color: #8d969c;
}

